                 *
                 {
                 	margin: 0;
                 	padding: 0;
                 }
                 body
                 {
                 	background-color:#ebebeb ;
                 }
                 a{
                 	text-decoration: none;
                 	color: #505050;
                 }
                 a:hover
                 {
                 	color: hotpink;
                 }
                 h1
                 {
                 	color:#707070 ;
                    border-left: 5px solid #fa7e40;
                    padding-left: 10px;
                 }
                 .hr
                 {
                 	margin-top: 10px;
                 	margin-bottom: 10px;
                 	border: 1px solid #e8e8e8 ; 
                 	width:230px;
                 }
                 .hr2
                 {
                 	margin-top: 20px;
                 	margin-bottom: 80px;
                 	border: 1px solid #e8e8e8 ; 
                 }
                 #hrr
                 {
                 	margin-left:35px ;
                 	margin-right:50px;
             	    height: 520px;
             	    width: 1px;
                 	color="#BABABA"; 
                 	border: 1px solid #e8e8e8 ; 
                 }
                 section .sectioin_box
			    {
			    	margin: 60px auto;
			  	 	width:1000px;
			  	 	height: 630px;
			  	 	display: flex;
			  	 	background-color: white;
			    }
			    section .sectioin_left
			    {
			  	 	width:230px;
			  	 	height: 530px;
			  	 	margin-left: 20px;
			    }
			    section .sectioin_left .sectioin_left1
			    {
			  	 	width:230px;
			  	 	height: 170px;
			  	 
			    }
			      section .sectioin_left .sectioin_left1 p
			      {
			      margin-top: 5px;
			      margin-left: 10px;
			      color:#4c4c4c;
			      }
			    section .sectioin_left .sectioin_left1 p span
			    {
			    	display: flex;
			    	margin-right: 10px;
			    	border-radius: 50%;
			    	width: 15px;
			    	height: 15px;
			    	background-color: #BABABA;
			    	float: left;
			        line-height: 15px;
			    }
			    section .sectioin_left .sectioin_left2
			    {
			  	 	width:230px;
			  	 	height: 360px;
			  	 	color:#4c4c4c;
			    }
			    section .sectioin_right
			    {
			  	 	width:700px;
			  	 	height: 530px;
			  	 	color: #505050;
			    }
                section .sectioin_right .pp
                {
                	text-indent: 2em;
                	margin-right:0.5em;
                	margin-bottom: 20px;
                }
